
EvaluApp.Mobile/EvaluApp.Mobile/EvaluApp.Mobile/bin/

EvaluApp.Mobile/EvaluApp.Mobile/EvaluApp.Mobile/obj/

EvaluApp.Mobile/EvaluApp.Mobile/EvaluApp.Mobile.Android/bin/

EvaluApp.Mobile/EvaluApp.Mobile/EvaluApp.Mobile.Android/obj/
